CityUI {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  justify-content: center;
  align-items: center;
  font-weight: bold;

  navbar {
    background-color: rgba(#323232, 1);
    border-radius: 5px;
    width: 520px;
    height: 110px;

    position: absolute;
    bottom: 40px;

    align-items: center;
    justify-content: center;
    padding: 0 10px;
    gap: 10px;
  }

  SlotBtn {
    pointer-events: all;
    width: 30%;
    height: 80%;
    background: #555;
    border-radius: 3px;
    justify-content: center;
    align-items: center;

    &:hover {
      background-color: #666;
    }

    i {
      color: white;
      font-size: 62px;
    }

    .key {
      left: 18px;
      top: 16px;
      position: absolute;
      color: white;
      font-size: 22px;
    }
  }

  .stats {
    position: absolute;
    left: 20px;
    top: 20px;
    border-radius: 10px;
    width: 14vw;
    height: 250px;
    background-color: rgba(#222, 0.9);
    padding: 10px 20px;
    flex-direction: column;
    flex-grow: 0;
    gap: 10px;
  }

  .title {
    font-size: 25px;
    font-family: Poppins;
    color: #fff;
  }

  StatText {
    color: white;
    font-family: Poppins;
    font-size: 22px;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 10px;
  }
}