CityUI {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  justify-content: center;
  align-items: center;
  font-weight: bold;

  navbar {
    background-color: rgba(#323232, 1);
    border-radius: 5px;
    width: 520px;
    height: 110px;

    position: absolute;
    bottom: 20px;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
    gap: 10px;
  }

  .stats {
    position: absolute;
    left: 20px;
    top: 20px;
    border-radius: 10px;
    width: 14vw;
    height: 250px;
    background-color: rgba(#222, 0.9);
    padding: 10px 20px;
    flex-direction: column;
    flex-grow: 0;
    gap: 10px;
  }

  .action-menu {
    width: 320px;
    height: 285px;

    position: absolute;
    right: 20px;
    bottom: 20px;

    background-color: rgba(#323232, 1);
    border-radius: 7px;
    justify-content: center;
    align-content: center;
  }

  .container {
    width: 100%;
    height: 100%;
    background-color: rgba(#353535, 1);
    border-radius: 6px;
    justify-content: center;
  }

  .grid {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    gap: 8px;

    .slot-btn {
      height: 80px;
      width: 90px;
    }
  }

  .title {
    font-size: 25px;
    font-family: Poppins;
    color: #fff;
  }

  StatText {
    color: white;
    font-family: Poppins;
    font-size: 22px;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 10px;
  }

  .arrow {
    position: absolute;
    width: 100px;
    height: 90px;
    padding: 8px;
    border-radius: 6px;
    background-color: #333;


    SlotBtn {
      width: 100%;
      height: 100%;
    }
  }

  .left {
    position: absolute;
    left: 25vw;
    bottom: 30px;
  }

  .right {
    position: absolute;
    bottom: 30px;
    right: 25vw;
  }
}
