@using System
@using Kira
@inherits PanelComponent
@namespace Sandbox

<root>
    <div class="stats">
        <StatText Label="Gdp" Value=@($"{City.CityState.CityIncome}")/>
        <StatText Label="Population" Value=@($"{City.Population}")/>
        <StatText Label="Homeless" Value=@($"{City.Homelessness}")/>
    </div>
    <navbar>
        <SlotBtn Icon="group_add" OnClickAction=@(() => CityManager.SpawnCitizen())/>
        <SlotBtn/>
        <SlotBtn/>
        <SlotBtn/>
    </navbar>
</root>

@code
{
    private Player Player { get; set; }
    private City City { get; set; }
    private CityManager CityManager { get; set; }

    protected override void OnAwake()
    {
        base.OnAwake();

        CityManager = Scene.GetAllComponents<CityManager>().FirstOrDefault();
        if (!CityManager.IsValid()) return;
        City = CityManager.City;
    }

    /// <summary>
    /// the hash determines if the system should be rebuilt. If it changes, it will be rebuilt
    /// </summary>
    protected override int BuildHash() => HashCode.Combine(City);
}