@using System
@using Kira
@inherits PanelComponent
@namespace Sandbox

<root>
    <div class="stats">
        <StatText Label="Gdp" Value=@($"{City.CityState.CityIncome}")/>
        <StatText Label="Population" Value=@($"{City.Population}")/>
        <StatText Label="Homeless" Value=@($"{City.Homelessness}")/>
    </div>
    <navbar>
        <SlotBtn Icon="group_add" KeyLabel="1" OnClickAction=@(() => CityManager.SpawnCitizen())/>
        <SlotBtn/>
        <SlotBtn/>
        <SlotBtn/>
    </navbar>
</root>

@code
{
    private Player Player { get; set; }
    private City City { get; set; }
    private CityManager CityManager { get; set; }

    public readonly CityAction[] CityActions = new CityAction[1];

    protected override void OnAwake()
    {
        base.OnAwake();

        CityManager = Scene.GetAllComponents<CityManager>().FirstOrDefault();
        if (!CityManager.IsValid()) return;
        City = CityManager.City;

        CityActions[0] = new CityAction(() => CityManager.SpawnCitizen(), 0.1f);
    }

    protected override void OnUpdate()
    {
        if (Input.Down("Slot1"))
        {
            CityActions[0].Use();
        }
    }

    /// <summary>
    /// the hash determines if the system should be rebuilt. If it changes, it will be rebuilt
    /// </summary>
    protected override int BuildHash() => HashCode.Combine(City.Population);
}