$largeicon: 77px;
$mediumicon: 56px;
$smallicon: 40px;

$btm-pos: 20px;
$bottomright: 20;
$menubar-width: 320px;
$menubar-height: 86px;

$primarycolor: rgba(#323232, 1);
$secondarycolor: rgba(#444, 1);

CityUI {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  justify-content: center;
  align-items: center;
  font-weight: bold;

  .hotbar {
    background-color: rgba(#323232, 1);
    border-radius: 5px;
    width: 520px;
    height: 110px;

    position: absolute;
    bottom: $btm-pos;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
    gap: 10px;

    .slot-btn {
      i {
        font-size: $mediumicon;
      }
    }
  }

  .stats {
    position: absolute;
    left: 20px;
    top: 20px;
    border-radius: 10px;
    width: 14vw;
    height: 250px;
    background-color: rgba(#222, 0.9);
    padding: 10px 20px;
    flex-direction: column;
    flex-grow: 0;
    gap: 10px;
  }

  .action-menu {
    width: $menubar-width;
    height: 285px;
    position: absolute;

    right: $bottomright;
    bottom: 120px;

    border-radius: 7px;
    justify-content: center;
    align-content: center;
  }

  .container {

    width: 100%;
    height: 100%;
    //background-color: rgba(#353535, 1);
    background-color: $primarycolor;
    border-radius: 6px;
    justify-content: center;
  }

  .grid {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    gap: 10px;


    .slot-btn {
      height: 80px;
      width: 90px;

      i {
        font-size: $mediumicon;
      }
    }
  }

  .col {
    flex-direction: column;
  }

  .title {
    font-size: 25px;
    font-family: Poppins;
    color: #fff;
  }

  .menu-bar {
    position: absolute;
    right: $bottomright;
    bottom: $btm-pos;
    height: $menubar-height;
    width: $menubar-width;

    gap: 10px;

    justify-content: center;
    align-items: center;

    background-color: $primarycolor;
    border-radius: 6px;

    SlotBtn {
      width: 66px;
      height: 64px;
    }
  }

  .arrow {
    position: absolute;
    width: 100px;
    height: 90px;
    padding: 8px;
    border-radius: 6px;
    background-color: $primarycolor;

    SlotBtn {
      i {
        font-size: $largeicon;
      }

      width: 100%;
      height: 100%;
    }
  }

  .left {
    position: absolute;
    left: 25vw;
    bottom: 30px;
  }

  .right {
    position: absolute;
    bottom: 30px;
    right: 25vw;
  }

  StatText {
    color: white;
    font-family: Poppins;
    font-size: 22px;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 10px;
  }

  .zoom-btns {
    width: 115px;
    height: 220px;
    position: absolute;
    padding: 0 3px;
    left: 18vw;
    bottom: $btm-pos;

    .container {
      gap: 4px;

      SlotBtn {
        height: 65px;

        i {
          font-size: 40px;
        }
      }
    }

    color: white;
    font-size: 20px;
  }
}
