@using System
@using Kira
@using Sandbox.UI
@inherits PanelComponent
@namespace Sandbox

<root>

    @* City Stats *@
    <div class="stats">
        <StatText Label="Gdp" Value=@($"{City.CityState.CityIncome}")/>
        <StatText Label="Population" Value=@($"{City.Population}")/>
        <StatText Label="Homeless" Value=@($"{City.Homelessness}")/>
    </div>

    @* Action Menu *@
    <div class="menu-bar">
        <SlotBtn ButtonType=@SlotBtn.ButtonTypes.Toggle Icon="storefront" OnClickAction=@(() => { ShopOpen = !ShopOpen; })/>
        <SlotBtn/>
        <SlotBtn/>
        <SlotBtn/>
    </div>

    @if (ShopOpen)
    {
        <div class="action-menu">
            <div class="container grid">
                <SlotBtn Icon="rocket_launch" OnClickAction=@(() => CityManager.SpawnCitizen())/>
                <SlotBtn Icon="science"/>
                <SlotBtn/>
                <SlotBtn/>
                <SlotBtn/>
                <SlotBtn/>
                <SlotBtn/>
                <SlotBtn/>
                <SlotBtn/>
            </div>
        </div>
    }

    @* Bottom Ability Bar *@
    <div class="hotbar">
        <SlotBtn Icon="group_add" KeyLabel="1" OnClickAction=@(() => CityManager.SpawnCitizen())/>
        <SlotBtn Icon="camera" KeyLabel="2" OnClickAction=@(() => Camera.ResetView())/>
        <SlotBtn/>
        <SlotBtn/>
    </div>


    @* Arrows - Camera View *@
    <div class="arrow left">
        <SlotBtn Icon="chevron_left" OnClickAction=@(() => Camera.TurnView(30))/>
    </div>

    <div class="arrow right">
        <SlotBtn Icon="chevron_right" OnClickAction=@(() => Camera.TurnView(-30))/>
    </div>
</root>

@code
{
    private Player Player { get; set; }
    private PlayerCamera Camera { get; set; }
    private City City { get; set; }
    private CityManager CityManager { get; set; }
    public readonly GameAction[] cityActions = new GameAction[4];
    private bool ShopOpen { get; set; }


    protected override void OnAwake()
    {
        base.OnAwake();

        CityManager = Scene.GetAllComponents<CityManager>().FirstOrDefault();
        if (!CityManager.IsValid()) return;

        Camera = Scene.GetAllComponents<PlayerCamera>().FirstOrDefault();

        City = CityManager.City;
        cityActions[0] = new GameAction(() => CityManager.SpawnCitizen(), 0.25f);
        cityActions[1] = new GameAction(() => Camera.TurnView(-30), 0.1f);
        cityActions[2] = new GameAction(() => Camera.TurnView(30), 0.1f);
        cityActions[3] = new GameAction(() => Camera.ResetView(), 0.1f);
    }

    protected override void OnStart()
    {
        CityActions.Init();
    }

    protected override void OnUpdate()
    {
        if (Input.Down("Slot1"))
        {
            cityActions[0].Use();
        }

        if (Input.Down("Slot2"))
        {
            cityActions[3].Use();
        }

        if (Input.Released("Left"))
        {
            cityActions[2].Use();
        }

        if (Input.Released("Right"))
        {
            cityActions[1].Use();
        }
    }

    /// <summary>
    /// the hash determines if the system should be rebuilt. If it changes, it will be rebuilt
    /// </summary>
    protected override int BuildHash() => HashCode.Combine(City.Population);
}