@using System
@inherits Sandbox.UI.Panel

<root class="slot-btn">
    @if (KeyLabel != null)
    {
        <div class="key">@KeyLabel</div>
    }

    <button onclick=@OnClickAction>
        <i>@Icon</i>

    </button>
</root>

@code
{
    public string KeyLabel { get; set; }
    public string Icon { get; set; }
    public Action OnClickAction { get; set; }
    protected override int BuildHash() => HashCode.Combine(Icon, KeyLabel);

    public SlotBtn(string icon, string keyLabel)
    {
        this.Icon = icon;
        this.KeyLabel = keyLabel;
    }

    public SlotBtn()
    {
    }
}